.header{
    height: 100vh;
    background: url("hero image.png")no-repeat center/cover;
}
.nav_item img{
    width: 20px;

}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header_top{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    column-gap: 20px;
}
.nav_item a{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}
.header_menu{
    display: flex;
    align-items: center;
    height: 70px;
    column-gap: 35px;
}
.header__phone{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
    border-left: 2px solid #FFFFFF;
    padding-left: 15px;
}
.header__contact{
    display: flex;
    align-items: center;
    column-gap: 45px;

}
.header__button{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 19px;
    height: 47px;
    background-color: #FF7400;
    border: none;
    cursor: pointer;
}
.header__title{
    margin-top: 150px;
    max-width:  500px;
}
.header__title h2{
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;
    color: #D67E35;
    margin-left: 24px;

}
.header__title h1{
    font-weight: normal;
    font-size: 80px;
    line-height: 92px;
    color: #D67E35;

}
.header__title p {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.header__title p::before,
.header__title p::after{
    content:"";
    display:block;
    width: 61px;
    height: 2px;
    background: #c4c4c4;
}
.header__title p::before{
    margin-right: 10px;
}
.header__title p::after{
    margin-left: 10px;
}
.header__main .header__button{
    margin-top: 35px;
}
.header__main__btn{
    display: flex;
    justify-content: center;
}
.nav__button_mobile{
    display: none;
    width: 30px;
    flex-direction: column;
    row-gap: 4px;
}
.nav__button_mobile div{
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
}
.content{
    display: flex;

    margin-top: -300px;
    position: relative;
    margin-left: 166px;
    margin-right: 165px;

}
.content_container{
    margin-top: 176px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    width: 349px;
    height: 328px;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-right: 31px;

}
.div_img{
    width: 126px;
    height: 104px;

}
.content_container p {
    font-size: 26px;
    line-height: 30px;
    color: #656363;
}
span{
    color:chocolate;
}