@media screen and (max-width: 400px) {
    .header_menu{
        display: none;
    }
    .header_logo img{
        width: 50px;
    }
    .wrapper{
        max-width: 340px;
        padding: 0 10px;
    }
    .header_top{
        padding-top: 20px;
    }
    .nav__button_mobile{
        display: flex;
    }
    .header__title h2{
        font-size: 30px;
        line-height: 36px;
    }
    .header__title h1{
        font-size: 40px;
        line-height: 46px;
    }
    .header__title p::before,
    .header__title p::after{
        display: none;
    }
    .header__title{
        text-align: center;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:100vh;



    }
    .content_container{
        width: 290px;
        height: 276px;

    }
}